# User Testing Report

User testing was conducted by Joey Anh Huynh on March 28 between the times of 14:00 and 17:00 with the following participants:
- Stacey Cowan
- Quynh Nguyen
- Colombima Anzivino

## Tasks

1. She clicked following what I asked, then she said everything is ok.
2. She clicked following what I asked, she said everything is ok but I need to fix something in the website 
3. I asked her click any where she wanted, she said look good and same with the second person, she want me fix the logo and the cart setting

---

## Individual Results & Observations

### Stacey Cowan

-  She clicked on the link as expected, 
-  She had no trouble completing a spcific task
-  No question


### Quynh Nguyen

-  SHe clicked on the link as expected
-  SHe had not troubles completing a specific task:
-  SHe asked these questions: She asked about the cart, and the name of the product in the small-promo
-  Should have the name under the products. Click the food the it will link to each page.
-  Create Cart button/Login 
-	Layout banner

### {Jordan Doe}

-  SHe clicked on the link as expected
-  SHe had not troubles completing a specific task:
-  SHe asked these questions: She asked about the cart, and the name of the product in the small-promo
-  Should have the name under the products. Click the food the it will link to each page.
-  Create Cart button/Login 
-  She wants the description text of small-promo have to be wrap around the images.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.