<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title>Home</title>

<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">

</head>

<body>

<header class="masthead island push-0">
  <div class="grid grid-bottom">
    <div class="unit unit-s-1 unit-m-1 unit-l-1-3">
      <h1 class="push-0"><img class="img-flex logo" src="{{site.baseurl}}/images/logo.png" alt="Jojo"></h1>
    </div>
    <nav class="unit unit-s-1 unit-m-1 unit-l-2-3">
      <ul class="list-group giga brand-family push-0 nav">
        <li class="list-group-item list-group-item-inline">
          <a href="{{site.baseurl}}/index.html">Home</a>
        </li>
        <li class="list-group-item list-group-item-inline">
          <a href="{{site.baseurl}}/menu.html">Menu</a>
        </li>
        <li class="list-group-item list-group-item-inline">
          <a href="{{site.baseurl}}/about.html/">About</a>
		  
		  <div class="grid">	
				<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-2-3">
					<img class="jojo" src="{{site.baseurl}}/images/jojo.jpg" alt="Jojo">
				</div>
			</div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<footer class="footer pad-t">
			<div class="grid">	
				<div class="unit gutter unit-s-1 unit-m-1-3">
					<h2>Address</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="unit gutter unit-s-1 unit-m-1-3">
					<h2>Business hours</h2>
					
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="unit gutter unit-s-1 unit-m-1-3">
					<h2>Social icons</h2>
					<ul class="list-group footer-links">
						<li class="list-group-item list-group-item-inline">
						  <a href="#" class="icon-link icon i-16 i-facebook ir">Facebook</a>
						</li>
						<li class="list-group-item list-group-item-inline">
						  <a href="#" class="icon-link icon i-16 i-twitter ir">Twitter</a>
						</li>
						<li class="list-group-item list-group-item-inline">
						  <a href="#" class="icon-link icon i-16 i-googleplus ir">Google+</a>
						</li>
						
						<p class="copyright">Copyright © 2013</p>
					</ul>
				</div>
			</div>

</footer>

{{content}}

</body>
</html>
