---
layout: menu
title: Menu
bannertext: WELCOME TO JOJO'S WEBSITE
showbanner: yes
---
<h1>Menu</h1>
<h2>Mien Bac</h2>

<div class="grid">
{% for menu in site.categories.mien-bac %}
<div class="menu">
<a href="{{site.baseurl}}{{menu.url}}">
<img class="img-flex" width="100px" src="{{site.baseurl}}/images/	{{menu.image}}" alt="Photo of {{menu.title}}"></br>
{{menu.title}}
</a>
 </div>
{% endfor %}
</div>

<h2>Mien Nam</h2>

<div class="grid">
{% for menu in site.categories.mien-nam %}
<div class="menu">
<a href="{{site.baseurl}}{{menu.url}}">
<img class="img-flex" width="100px" src="{{site.baseurl}}/images/	{{menu.image}}" alt="Photo of {{menu.title}}"></br>
{{menu.title}}
</a>
 </div>
{% endfor %}
</div>