---
layout: default
title: Menu
bannertext: WELCOME TO JOJO'S WEBSITE
showbanner: yes
---
<h1>Menu</h1>

<div class="grid">
<ul>
{% for menu in site.categories.mien-bac %}
<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
<li>
<img class="img-flex" width="200px" src="{{site.baseurl}}/images/	{{menu.image}}" alt="Photo of {{menu.title}}"></br>
{{menu.title}}
</li>
 </div>
{% endfor %}
</ul>
</div>

<div class="grid">
{% for menu in site.categories.mien-nam %}
<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
<img class="img-flex" width="200px" src="{{site.baseurl}}/images/	{{menu.image}}" alt="Photo of {{menu.title}}"></br>
{{menu.title}}
 </div>
{% endfor %}
</div>